<section>
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
  <h1 class="h1 text-center">Spectator mode</h1>
  <p *ngIf="!devices.length" class="lead">
    Currently you have no registered devices.
  </p>
  <div *ngIf="devices.length">
    <div class="border p-2 my-2">
      <div>
        <span class="text-primary font-weight-bold mr-1">Filters: </span>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="grayScaleImageFilter"
            name="imageFilter"
            class="custom-control-input"
            [(ngModel)]="imageConfig.filter"
            [value]="ImageFilter.GRAY_SCALE"
          >
          <label class="custom-control-label" for="grayScaleImageFilter">Gray scale</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="blurImageFilter"
            name="imageFilter"
            class="custom-control-input"
            [(ngModel)]="imageConfig.filter"
            [value]="ImageFilter.BLUR"
          >
          <label class="custom-control-label" for="blurImageFilter">Blur</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="invertImageFilter"
            name="imageFilter"
            class="custom-control-input"
            [(ngModel)]="imageConfig.filter"
            [value]="ImageFilter.INVERT"
          >
          <label class="custom-control-label" for="invertImageFilter">Invert</label>
        </div>
        <i *ngIf="imageConfig.filter" class="fas fa-times text-danger" (click)="clearFilter()"></i>
      </div>
      <div class="w-25 mt-2">
        <label for="brightness">Brightness:</label>
        <span class="text-primary"> {{ imageConfig.brightness }}%</span>
        <input type="range" min="-100" max="100" step="1" class="custom-range" id="brightness" [(ngModel)]="imageConfig.brightness">
      </div>
      <div class="w-25 mt-2">
        <label for="contrast">Contrast:</label>
        <span class="text-primary"> {{ imageConfig.contrast }}%</span>
        <input type="range" min="-100" max="100" step="1" class="custom-range" id="contrast" [(ngModel)]="imageConfig.contrast">
      </div>
      <div class="w-25 mt-2 custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="motion-detection" [(ngModel)]="imageConfig.motionDetection.enabled">
        <label class="custom-control-label" for="motion-detection">Enable motion detection</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6" *ngFor="let device of devices">
        <app-device-stream-capture [imageConfig]="imageConfig" [device]="device"></app-device-stream-capture>
      </div>
    </div>
  </div>
</section>
