<div class="jumbotron">
  <h1 class="display-4">Hello, {{ getUserName() }}</h1>
  <p class="lead">
    Here you can set up real-time video home tracking, which will allow you to get additional protection for your property.
  </p>
  <hr class="my-4">
  <p>
    You can choose a mode in which you want to start working. We suggest you to start with setting up of a tracking device.
  </p>
  <a class="btn btn-primary btn-lg mr-2" routerLink="/transmit">Set up the device</a>
  <a class="btn btn-primary btn-lg" routerLink="/spectate">Spectate transmission</a>
</div>
